html {
  box-sizing: border-box;
}

body {
  font-family: "Verdana", sans-serif;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.hidden {
  opacity: 0;
}

.heightFill, html {
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}

.main-container {
  display: flex;
}

.intro {
  overflow: hidden;
}

.middleContainer {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

.active:after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgb(97, 97, 97);
  margin-top: 4px;
}

.header {
  position: sticky;
  top: 0;
  background-color: rgba(246, 246, 246, 0.8);
  z-index: 1;
}
.header nav {
  display: flex;
  place-content: center;
}
.header nav a {
  margin: 1.5rem;
}
.header nav svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  fill: rgb(118, 118, 118);
  transition: fill 0.3s ease;
}
.header nav svg:hover {
  fill: rgb(97, 97, 97);
}

a {
  color: rgb(118, 118, 118);
  cursor: pointer;
  transition: color 0.3s ease;
}
a:hover {
  color: black;
}

.socialContainer {
  right: 0;
  display: flex;
  flex-direction: column;
}
.socialContainer svg {
  width: 24px;
  height: 24px;
  margin: 0.5rem 1.5rem;
  transition: fill 0.3s ease;
  fill: rgb(118, 118, 118);
}
.socialContainer svg:hover {
  fill: rgb(97, 97, 97);
}

.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgb(246, 246, 246);
}
.intro::after {
  content: "";
  transition: transform 0.5s ease-in-out;
  background: rgb(52, 124, 162);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateX(-50vw);
}
.intro h1 {
  z-index: 1;
  text-align: center;
  font-size: 15vw;
  transition: transform 0.5s ease-in-out;
}
.intro span {
  transition: color 0.2s ease-in-out;
}
.intro span:first-child {
  color: black;
}
.intro span:last-child {
  color: rgb(52, 124, 162);
}

.description {
  z-index: 1;
  color: rgb(246, 246, 246);
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 20vw;
  transition: opacity 0.5s ease-in-out;
}

.introShowDescription::after {
  transform: translate(-20vw);
}
.introShowDescription h1 {
  transform: translate(26.5vw, -3.5vw) rotateZ(-90deg) scale(0.6);
}
.introShowDescription span:first-child {
  color: rgb(246, 246, 246);
}
.introShowDescription span:last-child {
  color: rgba(0, 0, 0, 0);
}

.buddha {
  width: 35vw;
}
.buddha #wholeBody {
  animation: buddhaHover 3s ease-in-out infinite;
}
.buddha #bodyShadow {
  transform-origin: bottom center;
  animation: buddhaShadow 3s ease-in-out infinite;
}
.buddha #arm_1 {
  transform-origin: top center;
  animation: armSlightRotation 3s ease-in-out infinite;
  animation-delay: -1.1s;
}
.buddha #arm_2 {
  transform-origin: top center;
  animation: armSlightRotation 3s ease-in-out infinite;
  animation-delay: -2s;
}
.buddha #arm_3 {
  transform-origin: top center;
  animation: armSlightRotation 3s ease-in-out infinite;
  animation-delay: -2.5s;
}
.buddha #arm_4 {
  transform-origin: top center;
  animation: armSlightRotation 3s ease-in-out infinite;
  animation-delay: -0.9s;
}
.buddha #arm_5 {
  transform-origin: top center;
  animation: armSlightRotation 3s ease-in-out infinite;
  animation-delay: -3s;
}
.buddha #arm_6 {
  transform-origin: top center;
  animation: armSlightRotation 3s ease-in-out infinite;
  animation-delay: -2.7s;
}
.buddha #arm_7 {
  transform-origin: top center;
  animation: armSlightRotation 3s ease-in-out infinite;
  animation-delay: -2.1s;
}
.buddha #arm_8 {
  transform-origin: top center;
  animation: armSlightRotation 3s ease-in-out infinite;
  animation-delay: -0.1s;
}

.skills {
  margin-bottom: 50vh;
}

.skillsTitleContainer {
  margin-top: -30vh;
  pointer-events: none;
  height: 70vh;
  position: relative;
  z-index: -1;
}

.skillsTitle {
  position: sticky;
  top: 10vh;
  font-size: 10vw;
  color: rgb(162, 52, 52);
  margin: 0;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  place-content: center;
}

.buddhaContainer {
  display: flex;
}

.skillsAccordions {
  background-color: rgb(162, 52, 52);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
  gap: 1em;
  padding: 1.5rem;
  font-size: 0.9em;
}
.skillsAccordions article {
  border: 1px solid rgb(246, 246, 246);
  padding: 0.75em 1em;
  color: rgb(246, 246, 246);
  transition: border-color 0.2s ease;
}
.skillsAccordions article h1 {
  font-size: 1.3em;
  font-weight: 500;
}
.skillsAccordions article ul {
  margin: 0.75em 0 0;
  padding-left: 1.25em;
  display: grid;
  gap: 0.5em;
}

@keyframes introToBlue {
  0% {
    background: linear-gradient(to left, rgb(246, 246, 246) 50vw, rgb(52, 124, 162) 50vw);
  }
  100% {
    background: linear-gradient(to right, rgb(52, 124, 162) 80vw, rgb(246, 246, 246) 20vw);
  }
}
@keyframes buddhaHover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes buddhaShadow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes armSlightRotation {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

/*# sourceMappingURL=styles.css.map */
